@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Manrope:wght@200..800&family=Nova+Round&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

:root{
    font-family: "Manrope", sans-serif;
}

@layer utilities {
  .bg-hero {
    background:
      radial-gradient(
        600px circle at 20% 30%,
        rgba(6, 182, 212, 0.25),
        transparent 40%
      ),
      radial-gradient(
        500px circle at 80% 70%,
        rgba(34, 211, 238, 0.18),
        transparent 45%
      ),
      radial-gradient(
        700px circle at 50% 100%,
        rgba(6, 182, 212, 0.12),
        transparent 50%
      ),
      #0b0b0c;
  }

  @keyframes heroFloat {
    0% {
      background-position: 0% 0%, 100% 100%, 50% 100%;
    }
    100% {
      background-position: 100% 50%, 0% 50%, 50% 0%;
    }
  }

  .animate-hero {
    animation: heroFloat 24s ease-in-out infinite alternate;
  }
}

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: none; /* Firefox */
    scrollbar-color: rgba(34, 211, 238, 0.6) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0px;
  }

  .custom-scrollbar:hover {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(34, 211, 238, 0.6) transparent;
  }

  .custom-scrollbar:hover::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(34, 211, 238, 0.6);
    border-radius: 999px;
    box-shadow: 0 0 8px rgba(34, 211, 238, 0.7);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(34, 211, 238, 0.95);
    box-shadow: 0 0 12px rgba(34, 211, 238, 0.95);
  }
}


